
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color:#222;
}

h6{
    font-size: 16px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: rgb(18, 19, 19);
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size:14px;
    font-weight: 600;
    padding:15px 30px;
    color:#222;
    background-color: wheat;
    border-radius:4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease-in;
}
body{
    width: 100%;
}

#header{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background:#8EB1E6;
    box-shadow: 0 5px 15px rgba(0 0 0 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#Navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Navbar li {
    list-style: none;
    padding: 0 20px;
}
#Navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: grey;
    transition: 0.3 ease-in-out;
}
#Navbar li a:hover,
#Navbar li a.active{
    color: black;
}
#hero{
    background-image: url('HERO/header\ \(1\).jpg');
    height:70vh;
    width:100;
    object-fit: contain;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color:rgb(8, 81, 216);
}
#hero button{
    background-color: transparent;
    color:rgb(15, 13, 13);
    font-size: 30px;
    font-weight: 700;
    border: 0;
    font-display: bold;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
}
#feature{
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;

}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding:25px 15px;
    box-shadow: 20px 20px 34px rgba(27, 43, 49, 0.369);
    border: 1px solid whitesmoke;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgb(15, 13, 13);
}
#feature .fe-box h6 {
    display: inlline-block;
    padding: 5px 5px 5px 5%;
    line-height: 15;
    border-radius: 4px;
    color: #531dd4;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7dc;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px;
    transition: 0.2s ease-in-out;
    position: relative;
}
#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(83, 38, 38, 0.09);
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #dbdbe5;
    font-size:12px;

}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color : #d6c90e;
}
#product1 .pro .des h4{
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    color:rgb(20, 102, 105);
}
#product1 .pro .cart{
    width:50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: rgb(160, 160, 160);
    font-weight:700;
    color:rgb(15, 13, 13);
    border: 1px solid;
    position: absolute;
    bottom: 20px;
    right: 30px;

}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('HERO/Footer1.jpg');
    width:100%;
    height:40vh;
    background-size: cover;
    background-position: center;
}
#banner h2{
    color:white;
    font-size: 30px;
    padding:10px 0;
}
#banner h2 span{
    color: hotpink;
}
#banner button:hover{
    background:cadetblue;
    color: whitesmoke;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('HERO/Banner.jpg');
    min-width:580px;
    height:50vh;
    background-size: cover;
    background-position: center;
    padding:30px;
}
#sm-banner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: black;
    font-size: 30px;
    font-weight: 800;
}
#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white{
    font-size:13px;
    font-weight: 600;
    padding:11px 18px;
    color:#222;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s ease-in;
}
#sm-banner .banner-box:hover button{
    background: purple;
    border:1px solid purple;
}
#sm-banner .banner-box2{
    background-image: url('HERO/Banner2.jpg');
}
#sm-banner .banner-box2:hover button{
    background: rgb(182, 28, 92);
    border:1px solid  rgb(182, 28, 92);

}
#newsletter{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("HERO/foot.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color:#436990;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: lch(lightness chroma hue);
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: lightblue;
}
#newsletter p span{
    color: rgb(71, 70, 70);
}
#newsletter .form{
    display: flex;
    width:40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border:1px solid transparent;
    border-radius: 4px;
    outline:none;
    border-top-right-radius:0 ;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: darkcyan;
    color:wheat;
    white-space: nowrap;
    border-top-left-radius:0 ;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
footer .col{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color:rgb(15, 13, 13);
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color:#3a3d41;
    padding-right: 4px;
    cursor: pointer;
}
footer .follow i:hover,
footer a:hover {
color: maroon;
}
footer .copyright{
    width:100%;
    text-align: center;
}